header {
    background-color: darkslategray;
    padding: 1%;
}

header h1 {
    color: white;
    text-align: center;
}

#search-section {
    border: 1px solid red;
    padding: 10px;
}

#current-weather {
    border: 1px solid chartreuse;
    height: 50%;
}

#forecast-result {
    border: 1px solid salmon;
}

#forecast-header {
    border: 1px solid yellow;
}

#past-search {
    border: 1px solid blue;
    padding: 0;
}

#past-search li {
    list-style-type: none;
    border: 1px solid turquoise;
    margin-top: 10px;
    padding: 5px 0 5px 0;
}

#past-search li:hover {
    transform: scale(1.05);
    opacity: 50%;
    font-weight: bold;
}