header {
    background-color: darkslategray;
    padding: 1%;
}

header h1 {
    color: white;
    text-align: center;
}

#search-section {
    border: 1px solid red;
    padding: 10px;
}

#current-weather {
    border: 1px solid chartreuse;
    height: 50%;
}